## Handle Imports

In [1]:
import numpy as np
import pandas as pd
import csv
import statistics as stats

# Upload methods

### Load Countries

In [2]:
def load_countries() -> dict:
    countries = {}

    with open("countries.csv") as file:
        reader = csv.DictReader(file)
        for row in reader:
            key = row["Country"]
            countries[key] = {name: float(value) for name, value in row.items() if name != "Country"}

    return countries

### Load Resources

In [3]:
def load_resources() -> dict:
    resources = {}

    with open("resources.csv") as file:
        reader = csv.DictReader(file)
        for row in reader:
            key = row["Resource"]
            resources[key] = {name: float(value) if name == "Weight" else value for name, value in row.items() if name != "Resource"}

    return resources

## Upload Countries

In [4]:
countryList = load_countries()

In [5]:
resourceList = load_resources()

In [6]:
print(countryList)

{'Atlantis': {'population': 20.0, 'food': 12.0, 'water': 10.0, 'land': 20.0, 'timber': 10.0, 'housing': 5.0, 'metallic alloy': 9.0, 'electronics': 40.0, 'potential fossil energy': 1.0, 'potential fossil usable': 24.0, 'community buildings': 20.0, 'jobs': 10.0, 'high school education': 2.0, 'college education': 12.0, 'universities': 20.0, 'nobel prizes': 10.0, 'marriages': 2.0, 'children': 10.0, 'renewable energy': 3.0, 'food waste': 20.0, 'water waste': 8.0, 'land waste': 10.0, 'timber waste': 4.0, 'housing waste': 3.0, 'metallicAlloy waste': 12.0, 'electronics waste': 14.0, 'potential fossil energy waste': 10.0, 'renewable energy waste': 10.0}, 'Dinotopoia': {'population': 15.0, 'food': 0.0, 'water': 2.0, 'land': 60.0, 'timber': 0.0, 'housing': 0.0, 'metallic alloy': 10.0, 'electronics': 4.0, 'potential fossil energy': 2.0, 'potential fossil usable': 56.0, 'community buildings': 30.0, 'jobs': 2.0, 'high school education': 4.0, 'college education': 2.0, 'universities': 30.0, 'nobel prizes': 20.0, 'marriages': 3.0, 'children': 20.0, 'renewable energy': 2.0, 'food waste': 10.0, 'water waste': 2.0, 'land waste': 0.0, 'timber waste': 5.0, 'housing waste': 9.0, 'metallicAlloy waste': 3.0, 'electronics waste': 23.0, 'potential fossil energy waste': 23.0, 'renewable energy waste': 3.0}, 'Erewhon': {'population': 21.0, 'food': 2.0, 'water': 3.0, 'land': 40.0, 'timber': 0.0, 'housing': 30.0, 'metallic alloy': 26.0, 'electronics': 2.0, 'potential fossil energy': 0.0, 'potential fossil usable': 43.0, 'community buildings': 10.0, 'jobs': 3.0, 'high school education': 3.0, 'college education': 4.0, 'universities': 10.0, 'nobel prizes': 30.0, 'marriages': 20.0, 'children': 30.0, 'renewable energy': 10.0, 'food waste': 2.0, 'water waste': 1.0, 'land waste': 0.0, 'timber waste': 6.0, 'housing waste': 1.0, 'metallicAlloy waste': 9.0, 'electronics waste': 34.0, 'potential fossil energy waste': 33.0, 'renewable energy waste': 2.0}, "King's Landing": {'population': 80.0, 'food': 3.0, 'water': 4.0, 'land': 30.0, 'timber': 0.0, 'housing': 15.0, 'metallic alloy': 35.0, 'electronics': 3.0, 'potential fossil energy': 0.0, 'potential fossil usable': 23.0, 'community buildings': 20.0, 'jobs': 4.0, 'high school education': 8.0, 'college education': 3.0, 'universities': 20.0, 'nobel prizes': 10.0, 'marriages': 10.0, 'children': 10.0, 'renewable energy': 3.0, 'food waste': 3.0, 'water waste': 9.0, 'land waste': 3.0, 'timber waste': 1.0, 'housing waste': 0.0, 'metallicAlloy waste': 8.0, 'electronics waste': 52.0, 'potential fossil energy waste': 4.0, 'renewable energy waste': 3.0}, 'The Vale': {'population': 43.0, 'food': 1.0, 'water': 5.0, 'land': 10.0, 'timber': 0.0, 'housing': 12.0, 'metallic alloy': 30.0, 'electronics': 4.0, 'potential fossil energy': 0.0, 'potential fossil usable': 10.0, 'community buildings': 30.0, 'jobs': 20.0, 'high school education': 10.0, 'college education': 9.0, 'universities': 30.0, 'nobel prizes': 90.0, 'marriages': 40.0, 'children': 100.0, 'renewable energy': 2.0, 'food waste': 4.0, 'water waste': 0.0, 'land waste': 2.0, 'timber waste': 2.0, 'housing waste': 24.0, 'metallicAlloy waste': 1.0, 'electronics waste': 10.0, 'potential fossil energy waste': 1.0, 'renewable energy waste': 1.0}}

In [7]:
print(resourceList)

{'R1': {'Weight': 0.0, 'Notes': 'analog to population'}, 'R2': {'Weight': 0.0, 'Notes': 'analog to metalic elements'}, 'R3': {'Weight': 0.0, 'Notes': 'analog to timber'}, 'R4': {'Weight': 0.2, 'Notes': 'analog to metallic alloys'}, 'R5': {'Weight': 0.5, 'Notes': 'analog to electronics'}, 'R6': {'Weight': 0.8, 'Notes': 'analog to housing'}, 'R7': {'Weight': -0.5, 'Notes': 'waste'}, 'R8': {'Weight': -0.8, 'Notes': 'waste'}, 'R9': {'Weight': -0.4, 'Notes': 'waste'}, 'R10': {'Weight': -0.2, 'Notes': 'waste'}}

### Set to Pandas Dataframe

In [8]:
countrydf = pd.DataFrame(countryList).transpose()

In [9]:
resourcedf = pd.DataFrame(resourceList).transpose()

In [10]:
countrydf

,population,food,water,land,timber,housing,metallic alloy,electronics,potential fossil energy,potential fossil usable,...,renewable energy,food waste,water waste,land waste,timber waste,housing waste,metallicAlloy waste,electronics waste,potential fossil energy waste,renewable energy waste
Atlantis,20.0,12.0,10.0,20.0,10.0,5.0,9.0,40.0,1.0,24.0,...,3.0,20.0,8.0,10.0,4.0,3.0,12.0,14.0,10.0,10.0
Dinotopoia,15.0,0.0,2.0,60.0,0.0,0.0,10.0,4.0,2.0,56.0,...,2.0,10.0,2.0,0.0,5.0,9.0,3.0,23.0,23.0,3.0
Erewhon,21.0,2.0,3.0,40.0,0.0,30.0,26.0,2.0,0.0,43.0,...,10.0,2.0,1.0,0.0,6.0,1.0,9.0,34.0,33.0,2.0
King's Landing,80.0,3.0,4.0,30.0,0.0,15.0,35.0,3.0,0.0,23.0,...,3.0,3.0,9.0,3.0,1.0,0.0,8.0,52.0,4.0,3.0
The Vale,43.0,1.0,5.0,10.0,0.0,12.0,30.0,4.0,0.0,10.0,...,2.0,4.0,0.0,2.0,2.0,24.0,1.0,10.0,1.0,1.0

In [11]:
resourcedf

    Weight                       Notes
R1     0.0        analog to population
R2     0.0  analog to metalic elements
R3     0.0            analog to timber
R4     0.2   analog to metallic alloys
R5     0.5       analog to electronics
R6     0.8           analog to housing
R7    -0.5                       waste
R8    -0.8                       waste
R9    -0.4                       waste
R10   -0.2                       waste

# State Quality Evaluation

### Population Normalization

In [12]:
def normalize_df(df):
    
    df.div(df.s(axis=1), axis=0)

### Check Country List

In [13]:
for key in countryList:
    print(key, '->', countryList[key])

Atlantis -> {'population': 20.0, 'food': 12.0, 'water': 10.0, 'land': 20.0, 'timber': 10.0, 'housing': 5.0, 'metallic alloy': 9.0, 'electronics': 40.0, 'potential fossil energy': 1.0, 'potential fossil usable': 24.0, 'community buildings': 20.0, 'jobs': 10.0, 'high school education': 2.0, 'college education': 12.0, 'universities': 20.0, 'nobel prizes': 10.0, 'marriages': 2.0, 'children': 10.0, 'renewable energy': 3.0, 'food waste': 20.0, 'water waste': 8.0, 'land waste': 10.0, 'timber waste': 4.0, 'housing waste': 3.0, 'metallicAlloy waste': 12.0, 'electronics waste': 14.0, 'potential fossil energy waste': 10.0, 'renewable energy waste': 10.0}
Dinotopoia -> {'population': 15.0, 'food': 0.0, 'water': 2.0, 'land': 60.0, 'timber': 0.0, 'housing': 0.0, 'metallic alloy': 10.0, 'electronics': 4.0, 'potential fossil energy': 2.0, 'potential fossil usable': 56.0, 'community buildings': 30.0, 'jobs': 2.0, 'high school education': 4.0, 'college education': 2.0, 'universities': 30.0, 'nobel prizes': 20.0, 'marriages': 3.0, 'children': 20.0, 'renewable energy': 2.0, 'food waste': 10.0, 'water waste': 2.0, 'land waste': 0.0, 'timber waste': 5.0, 'housing waste': 9.0, 'metallicAlloy waste': 3.0, 'electronics waste': 23.0, 'potential fossil energy waste': 23.0, 'renewable energy waste': 3.0}
Erewhon -> {'population': 21.0, 'food': 2.0, 'water': 3.0, 'land': 40.0, 'timber': 0.0, 'housing': 30.0, 'metallic alloy': 26.0, 'electronics': 2.0, 'potential fossil energy': 0.0, 'potential fossil usable': 43.0, 'community buildings': 10.0, 'jobs': 3.0, 'high school education': 3.0, 'college education': 4.0, 'universities': 10.0, 'nobel prizes': 30.0, 'marriages': 20.0, 'children': 30.0, 'renewable energy': 10.0, 'food waste': 2.0, 'water waste': 1.0, 'land waste': 0.0, 'timber waste': 6.0, 'housing waste': 1.0, 'metallicAlloy waste': 9.0, 'electronics waste': 34.0, 'potential fossil energy waste': 33.0, 'renewable energy waste': 2.0}
King's Landing -> {'population': 80.0, 'food': 3.0, 'water': 4.0, 'land': 30.0, 'timber': 0.0, 'housing': 15.0, 'metallic alloy': 35.0, 'electronics': 3.0, 'potential fossil energy': 0.0, 'potential fossil usable': 23.0, 'community buildings': 20.0, 'jobs': 4.0, 'high school education': 8.0, 'college education': 3.0, 'universities': 20.0, 'nobel prizes': 10.0, 'marriages': 10.0, 'children': 10.0, 'renewable energy': 3.0, 'food waste': 3.0, 'water waste': 9.0, 'land waste': 3.0, 'timber waste': 1.0, 'housing waste': 0.0, 'metallicAlloy waste': 8.0, 'electronics waste': 52.0, 'potential fossil energy waste': 4.0, 'renewable energy waste': 3.0}
The Vale -> {'population': 43.0, 'food': 1.0, 'water': 5.0, 'land': 10.0, 'timber': 0.0, 'housing': 12.0, 'metallic alloy': 30.0, 'electronics': 4.0, 'potential fossil energy': 0.0, 'potential fossil usable': 10.0, 'community buildings': 30.0, 'jobs': 20.0, 'high school education': 10.0, 'college education': 9.0, 'universities': 30.0, 'nobel prizes': 90.0, 'marriages': 40.0, 'children': 100.0, 'renewable energy': 2.0, 'food waste': 4.0, 'water waste': 0.0, 'land waste': 2.0, 'timber waste': 2.0, 'housing waste': 24.0, 'metallicAlloy waste': 1.0, 'electronics waste': 10.0, 'potential fossil energy waste': 1.0, 'renewable energy waste': 1.0}

### Set Maslow Constants

In [14]:
#different resource levels
levelOneResources = {'food': 10, 'water': 20}
levelTwoResources = {'housing': 20, 'timber': 5, 'metallic alloy': 20, 'electronics': 3, 'potential fossil energy': 30} 
levelThreeResources = {'community buildings': 20, 'jobs': 10, 'high school education': 2, 'college education': 10, 'universities': 10, 'marriages': 20, } 
levelFourResources = {'children': 35, 'renewable energy': 30}
levelFiveResources = {'food waste': 2, 'water waste': 2, 'land waste': 1, 'timber waste': 2, 'nobel prizes': 20}

#list of levels
levList = [levelOneResources, levelTwoResources, levelThreeResources, levelFourResources, levelFiveResources]

In [15]:
print(levList)

[{'food': 10, 'water': 20}, {'housing': 20, 'timber': 5, 'metallic alloy': 20, 'electronics': 3, 'potential fossil energy': 30}, {'community buildings': 20, 'jobs': 10, 'high school education': 2, 'college education': 10, 'universities': 10, 'marriages': 20}, {'children': 35, 'renewable energy': 30}, {'food waste': 2, 'water waste': 2, 'land waste': 1, 'timber waste': 2, 'nobel prizes': 20}]

### Level Function

In [16]:
#pandas version
def leveldf(df, country, level, resources):
    
    levelSat = True
    mult = []
    average = 0

    for key, value in levList[level-1].items():
        countryVal = df.loc[country, key]
        mult.append(countryVal/value)
        if countryVal < value:
            levelSat = False
    
    average = stats.mean(mult)
    
    if not levelSat:
        average = average/4
        
    return average

In [17]:
num = leveldf(countrydf, 'Atlantis', 1, levList)
num

0.2125

In [18]:
#dictionary version (doesn't work)
def level(country, level):

    levelSat = True
    mult = []
    average = 0
    
    #go through each resource of the country
    for key, value in country:
        if key in level.keys():
            mult.append(value/level.keys()[0])
            if value < level.keys()[0]:
                levelSat = False
    
    average = mult.sum()/mult.len()
    
    if not levelSat:
        average = average/4
        
    return average

## Maslow Function

In [19]:
def maslow(df, country, level, resources):
    
    maslowList = []
    
    for num in range(1, level+1):
        levValue = leveldf(countrydf, country, num, levList)
        maslowList.append(levValue)
            
    return maslowList

In [20]:
maslowL = maslow(countrydf, 'The Vale', 5, levList)

In [21]:
print(maslowL)

[0.04375, 0.17166666666666666, 0.6, 0.3654761904761905, 0.475]

In [22]:
def maslowHeuristicVal(lst):
    return stats.mean(maslowL)

In [23]:
masVal = maslowHeuristicVal(maslowL)

In [24]:
print(masVal)

0.33117857142857143

# Transform Constants

In [25]:
FARM = [{'population': 1, 'land' : 1, 'water': 3}, {'food': 5, 'population': 1}]

# Transform Function

In [26]:
def transform(df, country, transform):
    
    allowed = True
    
    #check if transform is possible
    for key in transform[0]:
        val = transform[0][key]
        if(df.loc[country, key] - val < 0):
            allowed = False
    
    if(allowed):
        #remove input resoures
        for key in transform[0]:
            val = transform[0][key]
            df.loc[country, key] -= val

        #add output resources
        for key in transform[1]:
            val = transform[1][key]
            df.loc[country, key] += val

# Transform Test Case

In [27]:
countrydf

,population,food,water,land,timber,housing,metallic alloy,electronics,potential fossil energy,potential fossil usable,...,renewable energy,food waste,water waste,land waste,timber waste,housing waste,metallicAlloy waste,electronics waste,potential fossil energy waste,renewable energy waste
Atlantis,20.0,12.0,10.0,20.0,10.0,5.0,9.0,40.0,1.0,24.0,...,3.0,20.0,8.0,10.0,4.0,3.0,12.0,14.0,10.0,10.0
Dinotopoia,15.0,0.0,2.0,60.0,0.0,0.0,10.0,4.0,2.0,56.0,...,2.0,10.0,2.0,0.0,5.0,9.0,3.0,23.0,23.0,3.0
Erewhon,21.0,2.0,3.0,40.0,0.0,30.0,26.0,2.0,0.0,43.0,...,10.0,2.0,1.0,0.0,6.0,1.0,9.0,34.0,33.0,2.0
King's Landing,80.0,3.0,4.0,30.0,0.0,15.0,35.0,3.0,0.0,23.0,...,3.0,3.0,9.0,3.0,1.0,0.0,8.0,52.0,4.0,3.0
The Vale,43.0,1.0,5.0,10.0,0.0,12.0,30.0,4.0,0.0,10.0,...,2.0,4.0,0.0,2.0,2.0,24.0,1.0,10.0,1.0,1.0

In [28]:
transform(countrydf, 'Atlantis', FARM)

In [29]:
countrydf

,population,food,water,land,timber,housing,metallic alloy,electronics,potential fossil energy,potential fossil usable,...,renewable energy,food waste,water waste,land waste,timber waste,housing waste,metallicAlloy waste,electronics waste,potential fossil energy waste,renewable energy waste
Atlantis,20.0,17.0,7.0,19.0,10.0,5.0,9.0,40.0,1.0,24.0,...,3.0,20.0,8.0,10.0,4.0,3.0,12.0,14.0,10.0,10.0
Dinotopoia,15.0,0.0,2.0,60.0,0.0,0.0,10.0,4.0,2.0,56.0,...,2.0,10.0,2.0,0.0,5.0,9.0,3.0,23.0,23.0,3.0
Erewhon,21.0,2.0,3.0,40.0,0.0,30.0,26.0,2.0,0.0,43.0,...,10.0,2.0,1.0,0.0,6.0,1.0,9.0,34.0,33.0,2.0
King's Landing,80.0,3.0,4.0,30.0,0.0,15.0,35.0,3.0,0.0,23.0,...,3.0,3.0,9.0,3.0,1.0,0.0,8.0,52.0,4.0,3.0
The Vale,43.0,1.0,5.0,10.0,0.0,12.0,30.0,4.0,0.0,10.0,...,2.0,4.0,0.0,2.0,2.0,24.0,1.0,10.0,1.0,1.0